html{
    box-sizing: border-box;
    font-size: 62.5%; /**1rem=10px**/
}

*,*:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;

}

.contenedor{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

h1,h2,h3,h4{
    font-family: 'PT Sans', sans-serif;
}

h1{
    font-size: 4.8 rem;
}

h2{
    font-size: 4rem;    
    line-height: 3rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;    
}

img{

    max-width: 100%;
}

/** utilidades **/

.tac{
    text-align: center;
}

.m0{
    margin: 0;
}

/**grid**/
@media (min-width: 768px) {
    .grid{
        display: flex;
        justify-content: space-between;
    }
    .columnas-4{
        flex: 0 0 calc(33.3% - 1rem);
    }
    .columnas-6{
        flex: 0 0 calc(50% - 1rem);
    }
    .columnas-8{
        flex: 0 0 calc(66.6% - 1rem);
    }
}
/** botones**/

.btn{
    display: block;
    text-align: center;
    padding: 1rem 3rem;
    margin: 2rem;
    color: white;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
}

@media (min-width: 768px) {
    .btn{
        display: inline-block;
    }
}

.btn-primario{
    background-color: black;
}

.btn-secundario{
    background-color: darkred;
}
/**header**/
@media (min-width:768px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.site-header{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60rem;
}

.site-header a{
    color: white;
    text-decoration: none;
}

.site-header h1{
    text-align: center;
    font-weight: 400;
}

.site-header h1 span{
    font-weight: 700;
}


/**navegacion**/
.navegacion a{
    text-align: center;
    display: block;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

@media (min-width: 768px) {
    .navegacion a{
        display: inline;
        margin-right: 2rem;
    }

    .navegacion a:last-of-type{
        margin-right: 0;
    }
}
/** header texto**/

.texto-header{
    color: white;
    text-align: center;
    margin-top: 5rem;
}
@media (min-width: 768px) {
    .texto-header{
        margin-top: 15rem;
    }
}
.texto-header p{
    font-size: 2.2rem;
}

/** .contenido-principal home**/

.contenido-principal{
    display: flex;    
    flex-wrap: wrap;
}

.blog, .cursos{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
}

.cursos{
    order: -1;
}

@media (min-width: 768px) {
    .contenido-principal{
        justify-content: space-between;
    }
    .blog{
        flex-basis: 66.6%;
    }

    .cursos{
        flex-basis: calc(33.3% - 4rem);
        order: 1;
    }
}


/**opcional**/
/**.entrada-blog{
    display: flex;
    justify-content: space-between;
}

.entrada-blog .imagen{
    flex: 0 0 40%;
}

.entrada-blog .contenido-blog{
    flex: 0 0 calc(60% - 2rem);
}**/
.entrada-blog{
    margin-bottom: 2rem;
    border-bottom: 1px solid coral;
}

.entrada-blog:last-of-type{
    border: none;
}

/**cursos sidebar**/
.cursos-lista{
    padding: 0;
    list-style: none;
}

.curso{
    margin-bottom: 2rem;
    border-bottom: 1px solid coral;
}

.curso:last-of-type{
    border:none;
}

.curso p{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.curso p span,.curso p.descripcion{
    font-weight: 400;
}



/**footer**/

.site-footer{
    background-color: black;
    padding: 3rem;
    margin-top: 4rem;
}

.site-footer p{
    color: white;
    font-size: 4rem;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.site-footer p span{
    font-weight: 700;
}